{% extends 'content_base.html.twig' %}

{% block title %}Manage comments{% endblock %}

{% block content_body %}

    <div class="row">
        <h1>Manage comments ({{ pagination.getTotalItemCount }})</h1>
        <form>
            <div class="input-group mb-3">
                <input type="text"
                       name="q"
                       class="form-control"
                       placeholder="Search..."
                       value="{{ app.request.query.get('q') }}"
                >
            </div>
        </form>
    </div>

    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Blog</th>
                    <th>Author</th>
                    <th>Comment</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('app_blog_show', {slug: comment.blog.slug}) }}">
                                {{ comment.blog.title }}
                            </a>
                        </td>
                        <td>
                            {{ comment.authorName }}
                        </td>
                        <td style="width: 20%">
                            {{ comment.content|truncate }}
                        </td>
                        <td>
                            {{ comment.createdAt|ago }}
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td>
                                <h1>No comments found!</h1>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination-sm center">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}
